*
{
	margin: 0px;
	padding: 0px;
}
/*
.dboard-ca{
	background-color:red;height:90vh;top:10vh;position:relative;
}
.dboard-header
{
  background-color: #1A237E;
  height: 10vh;
  position: fixed;
}

.dboard-sidebar
{
  padding:0px;
  background-color: #303F9F;
  top:10vh;
  height: 90vh;
  position: fixed;
}

ul
{
	width: 100%;
	list-style-type: none;
}

a, a:hover
{
	font-size: 1em;
	text-decoration: none;
	color: white;
}

a:hover
{

}

li
{

	text-transform: uppercase;
	padding-left:1vh;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}
li:hover
{
	font-size: 1.05em;
	background-color: #1A237E;
}
*/
#myScrollSpy{
	position:fixed;
	top:15px;
}
